<%= form_with model: @post, local: true do |f|%>

  <ul class="item-lists">
    <li class="lists">

      <div class="field">
        <%= f.label :title, "私の目標" %><br />
        <%= f.text_field :title %>
      </div>

      <div class="field">
        <%= f.label :today_weight, "目標達成時期" %><br />
        <%= f.text_area :today_weight, class: :form__text %>
      </div>

      <div class="field">
        <%= f.label :today_comment, "ジャンル" %><br />
        <%= f.text_area :today_comment, class: :form__text %>
      </div>

      <div class="field">
        <%= f.label :image, "画像" %><br />
        <%= f.file_field :image %>
      </div>

      <div class="actions">
        <%= f.submit "神に誓う", class: :form__btn  %>
      </div>

    </li>
  </ul>
<% end %>