<div class="card">
    <%= link_to image_tag(post.image, class: :card__img), post_path(post.id) %>
  <div class="card__body">
    <%= post.title %>
    <%= post.today_weight %>
    <%= post.today_comment %>
    <%= link_to "by #{post.user.nickname}" %>
  </div>
</div>