<main class="main">
  <head>
    <meta charset="UTF-8">
    <title>オリジナルアプリ</title>
  </head>
  <body>
  <%= image_tag "dqwalk.jpeg", class:"list-pict" %>
    <div class="inner">
      <% if user_signed_in? %>
        <div class="blackboard">
          <p><%= "＊「こんにちは、ゆうしゃ #{current_user.nickname}さん。」" %></p>
        </div>
      <% else %>
        <div class="blackboard">
          <p>＊「こんにちは。なにをしますか？」</p>
        </div>
      <% end %>
        <div class="blackboard answer float-r">
          <% if user_signed_in? %>
            <p><%= link_to "ちゅうだんする", destroy_user_session_path, method: :delete , class:"blink-before" %></p>
            <p><%= link_to "とうこうする", new_post_path, class:"blink-before" %></p>
            <p><%= link_to "コメントをする", root_path, class:"blink-before" %></p>
          <% else %>
            <p><%= link_to "ぼうけんをはじめる", new_user_registration_path, class:"blink-before" %></p>
            <p><%= link_to "つづきからはじめる", new_user_session_path, class:"blink-before" %></p>
          <% end %>
        </div>
    </div>
    <%# <投稿情報はここに表示> %>
      <%= render partial: "post" , collection: @posts %>
    <%# <投稿情報はここに表示> %>
  </body>
</main>