<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <p class="prototype__hedding">
        <%= @post.title %>
      </p>

      <% if current_user == @post.user%>
        <div class="prototype__manage">
          <%= link_to "編集", edit_post_path(@post), class: :prototype__btn %>
          <%= link_to "削除", post_path(@post), method: :delete, class: :prototype__btn %>
        </div>
      <% end %>

      <div class="prototype__image">
        <%= image_tag @post.image %>
      </div>

      <div class="prototype__body">
        <div class="prototype__detail">
          <div class="iine">いいね数: <%= @post.likes.count %></div>
          <% if current_user.already_liked?(@post) %>
            <%= button_to 'いいねを取り消す', post_like_path(@post), method: :delete, class: :btn_square_pop %>
          <% else %>
            <%= button_to 'いいね', post_likes_path(@post), class: :btn_square_pop %>
          <% end %>
        </div>
      </div>

      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">目標達成時期</p>
          <p class="detail__message">
            <%= @post.target_time %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">ジャンル</p>
          <p class="detail__message">
            <%= @post.genre %>
          </p>
        </div>
      </div>
      <div class="prototype__comments">
        <% if user_signed_in? %>
          <%= form_with model: [@post, @comment], local: true do |f|%>
            <div class="fields">
              <%= f.label :text, "コメント" %><br />
              <%= f.text_field :text %>
            </div>
            <div class="action">
              <%= f.submit "送信", class: :form__btn  %>
            </div>
          <% end %> 
        <% end %>
        <ul class="comments_lists">
          
          <% @comments.each do |comment| %>
            <li class="comments_list">
              <%= link_to comment.user.nickname, "/users/#{comment.user_id}", class: :comment_user %>
              <%= comment.text %>
              <%= comment.created_at.to_s(:datetime_jp) %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</main>


